<div>
  <h2>Редактировать профиль</h2>
  <form [formGroup]="profileEditForm">

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput
             formControlName="name">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput
             formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Профессия</mat-label>
      <input matInput
             formControlName="profession">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Телефон</mat-label>
      <input matInput
             formControlName="phoneNumber">
    </mat-form-field>

    <div class="row">
      <button (click)="closeDialog()" class="w-50" mat-button mat-dialog-close disableRipple>Cancel</button>
      <button color="primary" class="w-50" [disabled]="profileEditForm.invalid" (click)="submit()" mat-button disableRipple>Update</button>
    </div>
  </form>
</div>
