<div class="add-vacancy">
  <h2>Создание вакансии</h2>

  <form [formGroup]="vacancyForm">

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Компания</mat-label>
        <input matInput
               formControlName="company">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Профессия</mat-label>
        <input matInput
               formControlName="profession">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <textarea matInput
                  formControlName="description" rows="30"></textarea>
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Адрес</mat-label>
        <input matInput
               formControlName="adress">
      </mat-form-field>
    </div>

    <button style="width: 5rem" [disabled]="vacancyForm.invalid" (click)="submit()" mat-flat-button color="primary">
      Создать
    </button>
  </form>
</div>
